.form {
	display: block;
	width: 100%;
}

.form__input {
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.7);
	padding: 10px 12px;
	margin: 0 0 10px 0;
}

.form__submit {
	max-width: 100px;
	width: 100%;
	background-color: blueviolet;
	font-family: inherit;
	font-size: 16px;
	color: white;
	padding: 5px;
	border: 0;
}
